
root = true

[*]
max_line_length =90
# General settings
indent_size = 2
indent_style = tab       # Usa espacios en lugar de tabuladores
end_of_line = lf           # Usar LF como final de línea
charset = utf-8            # Codificación de caracteres


